.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #FFA500;   /* turuncu kenarlık */
    -fx-border-width: 0 0 2 0;         /* kenarlık kalınlığı */
    -fx-text-fill: black;
}
.text-field:focused {
    -fx-border-color: transparent transparent #FF8C00 transparent; /* koyu turuncu */
    -fx-border-width: 0 0 2 0;
}