.text-field-style1 {
    /* Arka plan katmanlarını tamamen şeffaf yap */
    -fx-background-color: transparent, transparent, transparent;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0, 0, 0;

    /* Varsayılan focus halkalarını kapat */
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    /* Sadece alt kenarda turuncu çizgi */
    -fx-border-color: transparent transparent #FFA500 transparent;
    -fx-border-width: 0 0 2 0;
    -fx-border-insets: 0;
    -fx-border-radius: 0;

    -fx-text-fill: black;
}

.text-field-style1:focused {
    /* Focus'ta alt turuncuyu biraz koyulaştır */
    -fx-border-color: transparent transparent #FF8C00 transparent;
    -fx-border-width: 0 0 2 0;
}
.text-field-style2 {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.text-field-style2:hover,
.text-field:focused {
    -fx-background-color: rgba(255, 255, 255, 0.015);
    -fx-border-color: white;
    -fx-border-width: 2.5;
}
.text-field-style2{
    -fx-text-fill: white;
}
.button {
    -fx-background-color: white;
        -fx-border-radius: 10;
        -fx-background-radius: 10;
}